# Lab 6 - Pre-processing large data with PySpark
# TOC -

- Column functions
- Working with parquet files
	- Parquet vs csv
	- reading data from parquet files
- dealing with missing
    - detect missing, count and percentage
	- replace null entries
		- uni variate example
	- drop null entries
- drop duplicates
- save the clean df to a new parquet file.
- Task

In [5]:
spark.stop()

In [6]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Spark SQL Course").getOrCreate()

In [1]:
## start the session
from pyspark.sql import SparkSession
# Initialize Spark session
spark = SparkSession.builder.appName("Lab6").getOrCreate()
# spark context to interact with the driver

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/01/11 08:13:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## Column Functions

### Numeric functions

In [26]:
from pyspark.sql import functions as fn

columns = ["brand", "cost"]
df = spark.createDataFrame([
    ("garnier", 3.49),
    ("elseve", 2.71)
], columns)

round_cost = fn.round(df.cost, 1)
floor_cost = fn.floor(df.cost)
ceil_cost = fn.ceil(df.cost)

In [27]:
df.show()

+-------+----+
|  brand|cost|
+-------+----+
|garnier|3.49|
| elseve|2.71|
+-------+----+

In [30]:
df.withColumn('round', fn.round(df.cost, 1))\
    .withColumn('floor', floor_cost)\
    .withColumn('ceil', ceil_cost)\
    .show()

+-------+----+-----+-----+----+
|  brand|cost|round|floor|ceil|
+-------+----+-----+-----+----+
|garnier|3.49|  3.5|    3|   4|
| elseve|2.71|  2.7|    2|   3|
+-------+----+-----+-----+----+

In [29]:
df.show()

+-------+----+
|  brand|cost|
+-------+----+
|garnier|3.49|
| elseve|2.71|
+-------+----+

**Important** :Notice How the original dataframe did not change? you have to assign the changes to a new df as such

In [ ]:
df2 = df.withColumn('round', round_cost)\
    .withColumn('floor', floor_cost)\
    .withColumn('ceil', ceil_cost)

In [ ]:
df2.show()

+-------+----+-----+-----+----+
|  brand|cost|round|floor|ceil|
+-------+----+-----+-----+----+
|garnier|3.49|  3.5|    3|   4|
| elseve|2.71|  2.7|    2|   3|
+-------+----+-----+-----+----+

### Datetime functions

In [ ]:
from datetime import date
from pyspark.sql import functions as fn

df = spark.createDataFrame([
    (date(2015, 1, 1), date(2015, 1, 15)),
    (date(2015, 2, 21), date(2015, 3, 8)),
], ["start_date", "end_date"])

days_between = fn.datediff(df.end_date, df.start_date)
start_month = fn.month(df.start_date)

df.withColumn('days_between', days_between)\
    .withColumn('start_month', start_month)\
    .show()

### User-defined functions

In [5]:
from pyspark.sql import functions as fn
from pyspark.sql.types import StringType

df = spark.createDataFrame([(1, 3), (4, 2)], ["first", "second"])

def my_func(col_1, col_2):
    if (col_1 > col_2):
        return "{} is bigger than {}".format(col_1, col_2)
    else:
        return "{} is bigger than {}".format(col_2, col_1)

my_udf = fn.udf(my_func, StringType())

df.withColumn("udf", my_udf(df['first'], df['second'])).show()

+-----+------+------------------+
|first|second|               udf|
+-----+------+------------------+
|    1|     3|3 is bigger than 1|
|    4|     2|4 is bigger than 2|
+-----+------+------------------+

**EXTREMELY IMPORTANT note on UDFs**:

Creating UDFs should be a last resort. Only write a UDF if you are certain tha the functionallity you to implement cannot be done using spark functions which is usually not the case. Writing UDFs is exteremly risky and can be too costly as the code is not optimised unlike the spark functions/API.

## Working with Parquet Files

what is parquet and its advantages [source](https://sparkbyexamples.com/pyspark/pyspark-read-and-write-parquet-file/)

What is Parquet File?

Apache Parquet file is a columnar storage format available to any project in the Hadoop ecosystem, regardless of the choice of data processing framework, data model, or programming language.
Advantages:

While querying columnar storage, it skips the nonrelevant data very quickly, making faster query execution. As a result aggregation queries consume less time compared to row-oriented databases.

It is able to support advanced nested data structures.

Parquet supports efficient compression options and encoding schemes.

Pyspark SQL provides support for both reading and writing Parquet files that automatically capture the schema of the original data, It also reduces data storage by 75% on average. Pyspark by default supports Parquet in its library hence we don’t need to add any dependency libraries.

### Reading Data from Parquet Files

In [35]:
%ls

'Lab 4 - Spark Intro.ipynb'*       green_tripdata_2015-07.parquet*
 Lab5_Spark_II.ipynb*              hello_spark.ipynb
 Lab_6.ipynb*                     'lab 6 - Cleaning and partitioning.ipynb'*
 Writing_to_iceberg.ipynb          netflix-titles.csv*
 baby_names_unclean_new.parquet*   writing_to_hdfs.ipynb

In [36]:
df_names = spark.read.parquet('hdfs://namenode-master/baby_names_unclean_new.parquet')

In [77]:
df_names_t = spark.read.parquet('hdfs://namenode-master/baby_names_postlab_byy')

In [78]:
df_names_t.rdd.getNumPartitions()

16

In [37]:
df_names.printSchema()

root
 |-- name: string (nullable = true)
 |-- n: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- year: double (nullable = true)

In [ ]:
df_names.show()

+----------+-----+---+------+
|      name|    n|sex|  year|
+----------+-----+---+------+
|    Emilia|112.0|  F|1985.0|
|     Kelsi|112.0|  F|1985.0|
|    Margot|112.0|  F|1985.0|
|    Mariam|112.0|  F|1985.0|
|  Scarlett|112.0|  F|1985.0|
|      Aida|111.0|  F|1985.0|
|    Ashlei|111.0|  F|1985.0|
|     Greta|111.0|  F|1985.0|
|    Jaimee|111.0|  F|1985.0|
|     Lorna|111.0|  F|1985.0|
|   Rosario|111.0|  F|1985.0|
|     Sandi|111.0|  F|1985.0|
|   Sharina|111.0|  F|1985.0|
|    Tashia|111.0|  F|1985.0|
|     Adina|110.0|  F|1985.0|
|    Ahsley|110.0|  F|1985.0|
|Alessandra|110.0|  F|1985.0|
|    Amalia|110.0|  F|1985.0|
|    Chelsi|110.0|  F|1985.0|
|    Darcie|110.0|  F|1985.0|
+----------+-----+---+------+
only showing top 20 rows

In [ ]:
## useful if there are many features, view each record as a column
df_names.show(vertical=True)

-RECORD 0----------
 name | Emilia
 n    | 112.0
 sex  | F
 year | 1985.0
-RECORD 1----------
 name | Kelsi
 n    | 112.0
 sex  | F
 year | 1985.0
-RECORD 2----------
 name | Margot
 n    | 112.0
 sex  | F
 year | 1985.0
-RECORD 3----------
 name | Mariam
 n    | 112.0
 sex  | F
 year | 1985.0
-RECORD 4----------
 name | Scarlett
 n    | 112.0
 sex  | F
 year | 1985.0
-RECORD 5----------
 name | Aida
 n    | 111.0
 sex  | F
 year | 1985.0
-RECORD 6----------
 name | Ashlei
 n    | 111.0
 sex  | F
 year | 1985.0
-RECORD 7----------
 name | Greta
 n    | 111.0
 sex  | F
 year | 1985.0
-RECORD 8----------
 name | Jaimee
 n    | 111.0
 sex  | F
 year | 1985.0
-RECORD 9----------
 name | Lorna
 n    | 111.0
 sex  | F
 year | 1985.0
-RECORD 10---------
 name | Rosario
 n    | 111.0
 sex  | F
 year | 1985.0
-RECORD 11---------
 name | Sandi
 n    | 111.0
 sex  | F
 year | 1985.0
-RECORD 12---------
 name | Sharina
 n    | 111.0
 sex  | F
 year | 1985.0
-RECORD 13---------
 name | Tashia
 n    | 111.0
 sex  | F
 year | 1985.0
-RECORD 14---------
 name | Adina
 n    | 110.0
 sex  | F
 year | 1985.0
-RECORD 15---------
 name | Ahsley
 n    | 110.0
 sex  | F
 year | 1985.0
-RECORD 16---------
 name | Alessandra
 n    | 110.0
 sex  | F
 year | 1985.0
-RECORD 17---------
 name | Amalia
 n    | 110.0
 sex  | F
 year | 1985.0
-RECORD 18---------
 name | Chelsi
 n    | 110.0
 sex  | F
 year | 1985.0
-RECORD 19---------
 name | Darcie
 n    | 110.0
 sex  | F
 year | 1985.0
only showing top 20 rows

Summary of df. similar to info. however note that this is a costly operation.

In [71]:
df_names_part32 = df_names.repartition(32)

In [72]:
df_names_part32.rdd.getNumPartitions()

[Stage 102:============================>                            (1 + 1) / 2]

32

In [73]:
# summary of the df
df_summary = df_names_part32.summary()

In [69]:
df_summary.printSchema()

root
 |-- summary: string (nullable = true)
 |-- name: string (nullable = true)
 |-- n: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- year: string (nullable = true)

In [74]:
df_summary.show()

[Stage 108:>                                                        (0 + 1) / 1]

+-------+-------+------------------+-------+------------------+
|summary|   name|                 n|    sex|              year|
+-------+-------+------------------+-------+------------------+
|  count|1923793|           1923747|1923712|           1924665|
|   mean|    NaN|180.86667373620335|   NULL|1974.8509943288832|
| stddev|    NaN|1533.3759020310704|   NULL| 34.02947955836609|
|    min|  Aaban|               5.0|      F|            1880.0|
|    25%|    NaN|               7.0|   NULL|            1951.0|
|    50%|    NaN|              12.0|   NULL|            1985.0|
|    75%|    NaN|              32.0|   NULL|            2003.0|
|    max|  Zzyzx|           99686.0|      M|            2017.0|
+-------+-------+------------------+-------+------------------+

In [ ]:
## selectiing specific columns
df_summary.select('summary','name').show()

+-------+-------+
|summary|   name|
+-------+-------+
|  count|1923793|
|   mean|    NaN|
| stddev|    NaN|
|    min|  Aaban|
|    25%|    NaN|
|    50%|    NaN|
|    75%|    NaN|
|    max|  Zzyzx|
+-------+-------+

## Dealing with Missing Data

### Detect Missing Data, Count, and Percentage

To detect missing values we will use the fucniton isNull from the column class under the spark.sql.fucntions

Syntax of isNull() -> column_name.isNull()

In [11]:
from pyspark.sql.functions import col

In [ ]:
names_null_count = df_names.filter(df_names.name.isNull()).count()

In [ ]:
len_name = df_names.count()
perc = (names_null_count / len_name) * 100

In [ ]:
perc

0.045306585821428665

### Replace Null Entries

#### Univariate Example
Replace missing names with it mode.
There is no mode funciton that can be used directly on a column similar to min,max and so on.

So what we have to do is groupby the target column,sort by count desc and limit 1. Just like writing a query.

In [40]:
mode_df = df_names.groupBy('name').count().orderBy(col('count').desc()).limit(1)

In [54]:
mode_df.show()

+----+-----+
|name|count|
+----+-----+
|NULL|  872|
+----+-----+

Notice how this return a df. to access the value of count we will access the column count, then extract the column using collect, which returns an rdd. we will access the first row, and its first element to extract the mode.

In [53]:
mode_df.select('count').collect()[0][0]
# [0][0]

872

In [ ]:
## Note that because of the nature of this of dataset there is a column called n
## Which represents how many times that name was given to a baby in a given year.
# The code above was mainly for demonstaration
# You can try out your self to figure how to write a query to extract the most common name across all years.
# for now we will just impute the missing values in sex using the mode

In [55]:
mode_gender = df_names.groupBy('sex').count().orderBy(col('count').desc()).limit(1)

In [56]:
mode_gender.show()

+---+-------+
|sex|  count|
+---+-------+
|  F|1137711|
+---+-------+

In [57]:
mode_gender = mode_gender.select('sex').collect()[0][0]

In [58]:
mode_gender

'F'

In [59]:
## fillna
df_names_imputed = df_names.fillna(value = mode_gender,subset=['sex'])

In [60]:
# check
df_names_imputed.filter(df_names_imputed.sex.isNull()).count()

0

### Drop Null Entries

Drop rows

In [ ]:
#count after dropping, any row with one null entry
df_names.dropna().count()

1921922

`dropna` accepts the following arguments

- `how`: can be `'any'` or `'all'`. If `'any'`, rows containing any null values will be dropped entirely (this is the default). If `'all'`, only rows which are entirely empty will be dropped.

- `thresh`: accepts an integer representing the "threshold" for how many empty cells a row must have before being dropped. `tresh` is a middle ground between `how='any'` and `how='all'`. As a result, the presence of `thresh` will override `how`

- `subset`: accepts a list of column names. When a subset is present, N/A values will only be checked against the columns whose names are provided.

## Drop Duplicates

In [62]:
df_names.dropDuplicates().count()

1924581

In [61]:
df_names.rdd.getNumPartitions()

2

You can also pass a subset as such

In [ ]:
df_names.dropDuplicates(['name','sex','n']).count()

1048444

## Save the Clean DataFrame to a New DataFrame

In [75]:
df_names_imputed_8.rdd.getNumPartitions()

16

In [18]:
df_names_imputed_8 = df_names_imputed.repartition(8)

In [79]:
df_names_imputed_8.write.csv("hdfs://namenode-master/baby_names_postlab_byy_csv")

Notice that after writing to parquet it doesnt create 1 parquet file but multiple ones. that is because each partiton of the df is written as a parquet file. We will discuss partitioning in more detail in the next lab.

In [ ]:
## stop the driver
sc.stop()

## Task - Cleaning and encoding green taxis dataset

- read the parquet file. tip: viewing the df can be very ugly if there are many features. you can choose the option vertical=TRUE to view each record as a column rather than a row.(`df.show(vertical=True)`)
- For columns 'ehail_fee' and 'congestion_surcharge' replace nulls with 0.
- For 'payment_type' replace the missing values the mode.
- Create a new column called `distance_km` that calculates the distance in km. It is currenlty in miles. 1 mile = 1.61 km.
- save the parquet file.